extends layout

block content
  h2 Sitemap
  h3 O que é Sitemap?
  p.
    Sitemap é uma forma fácil para os webmasters de informar os mecanismos de pesquisa sobre seus sites disponíveis para indexação. Em sua composição mais simples, um Sitemap é um arquivo XML que relaciona os URLS de um site junto com metadados adicionais sobre cada URL (quando ele foi atualizado pela última vez; com que freqüência ele é alterado; qual a sua importância em relação a outros URLs no site) para que os mecanismos de pesquisas possam indexar o site de maneira mais inteligente.

  h3 Como usar
  div(class="steps")
    ul(class="row list-unstyled")
      li(class="col-md-3")
        h4 1. Gere seu sitemap
        p.
          Você pode gerar  de diversas formas manualmente, utilizando um software ou uma aplicação web como a nossa localizada abaixo.
        span(class="arrow")
      li(class="col-md-3")
        h4 2. Publique no seu site
        p.
          Faça o upload do seu arquivo sitemap para o seu servidor. De preferência para o diretório raiz do seu site.
        span(class="arrow")
      li(class="col-md-3")
        h4 3. Submeta ao Google
        p.
          Crie uma conta do Google e utilize a Ferramenta Webmaster do Google.
        span(class="arrow")
      li(class="col-md-3")
        h4 4. Realize uma verificação

  h2 Gerador de sitemap
  if finalResult
    div(class=finalResult.class + " alert")
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      p.msg= finalResult.msg
      if finalResult.url
        p.url
          a(href=finalResult.url).
            Baixar o arquivo

  div(class="loading", style="display:none")
    p
      b Gerando sitemap
    div(class="progress progress-striped active")
      div(class="progress-bar", role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
  
  div(class="form-sitemap")
    form(action="#", method="post")
      div(class="row")
        div(class="col-md-6")
          label Insira a URL
            br
            input(type="text", name="domain", placeholder="www.domain.com", class="domain") 
        div(class="col-md-3")
          label Frequência de Mudança
            br
            select
              option 1
              option 2
      div(class="row")
        div(class="col-md-2")
          label(for='sort')
            input(type="checkbox", name="sort", value="true")
            span(class="checkbox-fake input-checkbox")
            span(class="checkbox-fake") Ordernar
        div(class="col-md-2")
          label(for='seg') 
            input(type="checkbox", name="segmented", value="true")
            span(class="checkbox-fake input-checkbox")
            span(class="checkbox-fake") Segmentar
      input(type="submit", value="Gerar", class="btn btn-info generate")