doctype 5
html
  head
    title= 'Gerador de sitemap'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap-assets/css/bootstrap.min.css')
  body
    div(class="container")
      header
        nav
          ul
            li
             h1 SiteMap Segmentado
            li Gere seu sitemap grátis...
            li ...nos formatos xml e html...
            li ...ordenado e segmentado!
      block content